@page
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="span2">
                <h2 id="room-name"></h2>
                <ul id="people" class="unstyled"></ul>
            </div>
            <div class="span4">
                <ul id="msgs" class="unstyled"></ul>
            </div>
        </div>
        <div class="span12">
            <div class="span5" id="login">
                <form class="form-inline">
                    <input type="text" class="input-small" placeholder="Your name" id="name">
                    <input type="button" name="join" id="join" value="Join" class="btn btn-primary">
                </form>
            </div>
            
            <div class="span5" id="lobby">
                <h2>Lobbys</h2>
                <div class="span3">
                    <form id="3" class="form-inline">
                        <input type="text" class="input" placeholder="Lobby name" id="lobbyName"/>
                        <input type="button" name="createLobby" id="createLobby" value="Create lobby" class="btn btn-success" />
                    </form>
                </div>
                <div class="span9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="" style="background:#2751c9; color:white">
                                <tr>
                                    <th scope="col">Room name</th>
                                    <th scope="col">Total users</th>
                                    <th scope="col">Join</th>
                                </tr>
                            </thead>
                            <tbody id="room-list">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="span5" id="chat">
                <form id="2" class="form-inline">
                    <span id="people-typing" style="font-size:8px"></span>
                    <br />
                    <input type="text" class="input" placeholder="Your message" id="msg">
                    <input type="button" name="send" id="send" value="Send" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>